.card-image {
  text-align: center;
  border: 3px solid rgba(0,0,0,0.08);
  border-radius: 10px;
  padding: 10px;
}

.bg-grey {
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 33%, #ededed 54%, #ededed 60%, #ffffff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%,#f3f3f3 33%,#ededed 54%,#ededed 60%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%,#f3f3f3 33%,#ededed 54%,#ededed 60%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
}

.bg-blue {
  background: #f2f9fe; /* Old browsers */
  background: -moz-linear-gradient(top, #f2f9fe 0%, #d6f0fd 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f2f9fe 0%,#d6f0fd 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f2f9fe 0%,#d6f0fd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f9fe', endColorstr='#d6f0fd',GradientType=0 );
}

.bg-yellow {
  background: #fefcea; /* Old browsers */
  background: -moz-linear-gradient(top, #fefcea 0%, #fffad3 99%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #fefcea 0%,#fffad3 99%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fefcea 0%,#fffad3 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#fffad3',GradientType=0 );
}

.card-image:hover {
  opacity: 0.6;
}